
<div class="register-box">
  <div class="register-logo">
    <a href=""><b>Hamro</b>Network</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm)">
      <div class="form-group has-feedback"  [class.has-error]="!registerForm.controls['fullName'].valid && registerForm.controls['fullName'].touched">
        <input type="text" class="form-control" [formControl]="registerForm.controls['fullName']" placeholder="Full name">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback"  [class.has-error]="!registerForm.controls['email'].valid && registerForm.controls['email'].touched">
        <input type="email" class="form-control" [formControl]="registerForm.controls['email']" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback"  [class.has-error]="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">
        <input type="password" class="form-control" [formControl]="registerForm.controls['password']" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback"  [class.has-error]="!registerForm.controls['verifyPassword'].valid && registerForm.controls['verifyPassword'].touched">
        <input type="password" class="form-control" [formControl]="registerForm.controls['verifyPassword']" placeholder="Retype password">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      <div *ngIf="registerForm.hasError('mismatch')"
				class="ui error message">Password mismatch</div>
      </div>
      
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input appIcheck type="checkbox"> I agree to the <a href="#">terms</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <a [routerLink]="['/login']" class="text-center">I already have a membership</a>
  </div>
  <!-- /.form-box -->
</div>